### 1. Se pide:

A partir del archivo "USA_Housing.csv", realizar la regresión no lineal entre cada columna numérica con la columna 'price' utilizando:

- Regresión polinómica no lineal con grados del 2 al 10. ¿El score se estanca a partir de cierto grado?
- SVR

In [1]:
import pandas as pd

df = pd.read_csv("../data/USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn import svm
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = (df.dtypes != "object")
print(df1)
df1 = df.drop("Address", 1)
df1

Avg. Area Income                 True
Avg. Area House Age              True
Avg. Area Number of Rooms        True
Avg. Area Number of Bedrooms     True
Area Population                  True
Price                            True
Address                         False
dtype: bool

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [4]:
X = df1.drop("Price", 1)
y = df1["Price"]

In [5]:
X

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472
...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035
4996,78491.275435,6.999135,6.576763,4.02,25616.115489
4997,63390.686886,7.250591,4.805081,2.13,33266.145490
4998,68001.331235,5.534388,7.130144,5.44,42625.620156
4999,65510.581804,5.992305,6.792336,4.07,46501.283803

In [6]:
def iterating_degrees():
    acum=2
    while acum <= 10 >= 2:
        model = SVR(kernel="poly", degree=acum)
        model.fit(X, y)
        print("Score: ", model.score(X, y))
        print(acum)
        acum = acum +1

iterating_degrees()

Score:  0.002096421747240229
2
Score:  0.0072617010561331075
3
Score:  0.02037535250304534
4
Score:  0.050943388160001324
5
Score:  0.11513569565341397
6
Score:  0.22592356602574737
7
Score:  0.3236341303360155
8
Score:  0.3541175009655082
9
Score:  0.3429508145450445
10

In [7]:
# Con SVR parece estancarse al llegar al grado 9 del polinomio

### 2. Se pide:

En el anterior dataset, la columna "Avg. Area Number of Bedrooms" está en un rango numérico limitado:

1. Cambia todos los datos para que sean enteros redondeando hacia el entero más cercano. Si es .5 exacto, se redondea hacia abajo.

2. Cuando lo hayas hecho, tendrás una columna con números enteros en un rango limitado. Ahora trata a esa columna como una serie de valores discretos (classes, labels). 

3. Usando las demás columnas numéricas y una a una, utiliza SVM (SVC) para clasificar esa columna modificada.

4. Usando todas las demás columnas a la vez, utiliza SVM para clasificar esa columna modificada. Es decir, "Avg. Area Income" con nuestro target, después "Avg. Area House Age", ... ¿hace aumentar el score? ¿por qué? 

5. ¿Qué columna tiene mejor correlación con "Avg. Area Number of Bedrooms" una vez modificada? ¿qué columna da mejor score para nuestro target? 

-------------------------- 

ACLARACIÓN del apartado 2 del ejercicio 2:

- El punto 3, se espera que tu X sea una sola columna e y también, 'Avg. Area Number of Bedrooms'.

- El punto 4, espera que tu X sean todas las columnas que cumplen con las características especificadas e y la columna 'Avg. Area Number of Bedrooms'

In [8]:
df1["Avg. Area Number of Bedrooms"] =df1["Avg. Area Number of Bedrooms"].round(0).astype("int")

In [9]:
df1["Avg. Area Number of Bedrooms"] = pd.Categorical(df1["Avg. Area Number of Bedrooms"])

In [10]:
df1.dtypes

Avg. Area Income                 float64
Avg. Area House Age              float64
Avg. Area Number of Rooms        float64
Avg. Area Number of Bedrooms    category
Area Population                  float64
Price                            float64
dtype: object

In [11]:
df1

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4,46501.283803,1.298950e+06

In [12]:
X = df1.drop("Avg. Area Number of Bedrooms", 1)
y = df1["Avg. Area Number of Bedrooms"]

Score:  0.1656
Score:  0.297

In [13]:
len(df1.columns)

6

In [15]:
def iterate():
    acum = 0
    while acum < len(df1.columns):
        X = df1.iloc[:,acum]
        X = np.asarray(X).reshape(-1, 1)
        y = df1["Avg. Area Number of Bedrooms"]
        model = svm.LinearSVC()
        model.fit(X, y)
        print("Para la iteración nº", acum)
        print("Score: ", model.score(X, y))
        acum = acum +1 

iterate()

Para la iteración nº 0
Score:  0.2964
Para la iteración nº 1
Score:  0.2968
Para la iteración nº 2
Score:  0.2934
Para la iteración nº 3
Score:  0.882
Para la iteración nº 4
Score:  0.1186
Para la iteración nº 5
Score:  0.2952

In [ ]:
#